sudo: required
language: node_js

node_js:
   - node

addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0

before_script:
   - "sh -e /etc/init.d/xvfb start"
   - npm install -g --silent @angular/cli

script:
   - ng test --single-run --code-coverage

after_success:
   - npm run codacy
